/* Estilo para el encabezado del calendario */
.fc-header-toolbar {
    background-color: #343a40;  /* Fondo oscuro */
    color: white;  /* Texto blanco */
    padding: 10px;
    border-radius: 8px;
    font-size: 1.1rem;
    font-family: 'Arial', sans-serif;
  }
  
  .fc-toolbar-title {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  /* Estilo de los días del calendario */
  .fc-daygrid-day {
    background-color: #ffffff;  /* Fondo gris oscuro */
    border: 1px solid #6c757d;  /* Borde gris */
    transition: background-color 0.3s ease; /* Animación al pasar el mouse */
  }
  
  .fc-daygrid-day:hover {
    background-color: #6c757d;  /* Fondo gris más claro cuando el mouse pasa por encima */
  }
  
  .fc-daygrid-day-number {
    font-size: 1.2rem;
    font-weight: bold;
    color: #343a40;  /* Texto blanco para los números de los días */
  }
  
  /* Estilo de los eventos */
  .fc-event {
    background-color: #007bff;  /* Fondo azul */
    color: white;  /* Texto blanco */
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);  /* Sombra suave para los eventos */
  }
  
  .fc-event:hover {
    background-color: #0056b3;  /* Fondo azul más oscuro cuando pasas el mouse */
  }
  
  /* Estilo para la selección de fecha (día actual) */
  .fc-daygrid-day.fc-day-today {
    background-color: #80f886;  /* Fondo amarillo para el día actual */
    border: 2px solid #343a40;  /* Borde azul para el día actual */
    color: #212529;  /* Texto oscuro para el día actual */
  }
  
  /* Estilo para la cabecera de los días (Lunes, Martes, etc.) */
  .fc-col-header-cell {
    background-color: #5a626b;  /* Fondo oscuro */
    color: white;  /* Texto blanco */
    font-size: 1.1rem;
    padding: 10px;
  }
  
  /* Estilo de la barra lateral (si se utiliza) */
  .fc-sidebar {
    background-color: #495057;  /* Fondo gris oscuro */
    color: white;  /* Texto blanco */
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  


  .grupo-button {
    background-color: #4f5962;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    width: 100%;
  }