<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">
            <i class="bi bi-people"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/calendario']" routerLinkActive="active">Calendario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/turnos']" routerLinkActive="active">Config. Turnos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/cambio']" routerLinkActive="active">Solicitud Cambio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/cambio/gestion']" routerLinkActive="active">Gestión de Cambios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" [routerLink]="['empleados']" routerLinkActive="active">Empleados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/nuevo/empleado']" routerLinkActive="active">Nuevo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>