<nav class="navbar navbar-expand-lg bg-dark navbar-dark" *ngIf="isLoggedIn()">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/empleados']">
            <i class="bi bi-people"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vacantesDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Calendario
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="vacantesDropdown">
                      <li>
                        <a class="dropdown-item" [routerLink]="['/calendario']">Calendario de trabajo</a>
                      </li>
                      <li *ngIf="rol === 'admin'">
                        <a class="dropdown-item" [routerLink]="['/turnos']">Configurador de Turnos</a>
                      </li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vacantesDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Cambios
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="vacantesDropdown">
                      <li>
                        <a class="dropdown-item" [routerLink]="['/cambio']">Solicitud de cambio</a>
                      </li>
                      <li *ngIf="rol === 'admin'">
                        <a class="dropdown-item" [routerLink]="['/cambio/gestion']">Gestión de cambios</a>
                      </li>
                    </ul>
                </li> 

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="vacantesDropdown" role="button"
                      data-bs-toggle="dropdown" aria-expanded="false">
                      Empleados
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end" aria-labelledby="vacantesDropdown">
                      <li>
                        <a class="dropdown-item" [routerLink]="['empleados']">Listado de empleados</a>
                      </li>
                      <li *ngIf="rol === 'admin'">
                        <a class="dropdown-item" [routerLink]="['/nuevo/empleado']">Nuevo empleado</a>
                      </li>
                    </ul>
                </li>

                <!-- autenticacion -->
                <li class="nav-item ms-3">
                  @if (!isLoggedIn()) {
                  <div class="d-flex gap-2">
                    <a class="btn btn-outline-light btn-sm px-3" [routerLink]="['/login']">
                      <i class="bi bi-box-arrow-in-right me-1"></i> Login
                      </a>
                      <!--  <a class="btn btn-primary btn-sm px-3" [routerLink]="['/registro']">
                            <i class="bi bi-person-plus me-1"></i> Registrarse
                            </a>-->
                  </div>
                  } @else {
                    <div class="d-flex align-items-center gap-3">
                      <span class="text-light small d-none d-md-inline">
                      <i class="bi bi-person-circle me-1"></i> {{rol}}
                      </span>
                      <button class="btn btn-outline-light btn-sm" (click)="logout()">
                      <i class="bi bi-box-arrow-right"></i> Salir
                      </button>
                  </div>
                  }
                </li>

            </ul>
        </div>
    </div>
</nav>