<div class="d-flex justify-content-center align-items-center min-vh-100 bg-light">
  <div class="card p-4 shadow" style="min-width: 320px; max-width: 400px; width: 100%;">

    <div class="text-center mb-3">
      <img src="https://i.postimg.cc/kDJ8X3bB/logo.png" alt="Logo" style="max-height: 160px;">
    </div>

    <h3 class="text-center mb-4">Iniciar Sesión</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" formControlName="email" class="form-control" placeholder="usuario@correo.com">
        @if (loginForm.get('email')?.invalid && loginForm.get('email')?.touched) {
          <div class="text-danger mt-1 small">Por favor, introduce un email válido</div>
        }
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" id="password" formControlName="password" class="form-control" placeholder="********">
        @if (loginForm.get('password')?.invalid && loginForm.get('password')?.touched) {
          <div class="text-danger mt-1 small">La contraseña es requerida</div>
        }
      </div>

      @if (errorMessage) {
        <div class="text-danger text-center mt-2">{{ errorMessage }}</div>
      }

      <button type="submit" class="btn btn-dark w-100 mt-3" [disabled]="!loginForm.valid">Iniciar Sesión</button>
    </form>

    <div class="mt-4 text-center small text-muted">
      <p><h4><strong>Testing</strong></h4>
      <p>
        <strong>Admin:</strong><br> admin&#64;admin.com <br> admin
      </p>
      <p>
        <strong>User:</strong><br> juan.g1&#64;empresa.com <br> admin
      </p>
    </div>
  </div>
</div>
